upstream theglobechurch {
  server unix://{{ live_location }}/tmp/sockets/puma.sock;
}

server {
  listen 80;
  server_name tgc.dev www.tgc.dev;
  root /srv/tgc/live/public;
  disable_symlinks off;
  charset utf-8;

  try_files $uri/index.html $uri @theglobechurch;

  location @theglobechurch {
    proxy_pass http://theglobechurch; # this should match the name of upstream directive
    proxy_set_header Host $http_host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_redirect off;
  }

  location ~* ^/assets/ {
    # Per RFC2616 - 1 year maximum expiry
    gzip_static on;
    gzip on;
    expires 1y;
    add_header Cache-Control public;

    # Some browsers still send conditional GET requests if there's a
    # Last-Modified header or an ETag header even if they haven't
    # reached the expiry date sent in the Expires header.
    add_header Last-Modified "";
    add_header ETag "";
    break;
  }

  error_page 500 502 503 504 /500.html;
  client_max_body_size 4G;
  keepalive_timeout 10;
}
