proxy_cache_path  {{ nginx_cache }} levels=1:2 keys_zone=default:8m max_size=1000m inactive=30d;
proxy_temp_path   {{ globe_cache_location }};

upstream theglobechurch {
  server unix://{{ live_location }}/tmp/sockets/puma.sock;
}

server {
  listen 80;
  server_name globe.church www.globe.church;
  root /srv/tgc/live/public;
  disable_symlinks off;
  charset utf-8;

  try_files $uri/index.html $uri @theglobechurch;

  location @theglobechurch {
    proxy_pass http://theglobechurch; # this should match the name of upstream directive
    proxy_set_header Host $http_host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_redirect off;

    # Reverse proxy cache
    proxy_cache default;
    proxy_cache_lock on;
    proxy_cache_use_stale updating;
    add_header X-Cache-Status $upstream_cache_status;
  }

  location ~* ^/assets/ {
    # Per RFC2616 - 1 year maximum expiry
    gzip_static on;
    gzip on;
    expires 1y;
    add_header Cache-Control public;

    # Some browsers still send conditional GET requests if there's a
    # Last-Modified header or an ETag header even if they haven't
    # reached the expiry date sent in the Expires header.
    add_header Last-Modified "";
    add_header ETag "";
    break;
  }

  error_page 500 502 503 504 /500.html;
  client_max_body_size 4G;
  keepalive_timeout 10;
}
